.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0px;
    background-color: #F0F2F5;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.3s;
  }
.box_color_align{
    background-color: #FFFFFF;
    text-align: center;
}
.fruit{
    margin: 2%;
    padding: 1%;
    border: #dddfe2 solid 1px;
    display: inline;

}
.fruitname{
    margin: 2%;
    padding: 3% 5%;
    border: #dddfe2 solid 1px;
    color: #1d2129;
}
.image{
    height: 150px;
    width: 170px;
    margin: 2%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
img{
    height: 98%;
    width: 98%;
    margin: 0;
}
.removebag{
    background-color: #1d2129;
    color: #FFFFFF;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    width: 20%;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    transition: all 0.3s;
}
.removebag:hover{
    background-color: #000000;
}
.addbag{
    background-color: #ffa600;
    color: #000000;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    line-height: 30px;
    margin: 0;
    padding: 0;
    width: 50%;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap;
    font-weight: bold;
    justify-content: center;
    text-align: center;
    text-shadow: none;
    vertical-align: middle;
    transition: all 0.3s;
}
.addbag:hover{
    background-color: #dd9000;
}